#{extends 'connected-user.html' /}
#{set title:'Home' /}

<div class="contacts">
	#{form @Application.updateContact(contact.id) , method:'POST'}
<table>
	<thead>
    	<tr>
        	<th class="th-begin"></th>
            <th/>
            <th> (${contact.firstName} ${contact.name})</th>
            <th/>
            <th class="th-end" />
        </tr>
    </thead>
        <tfoot>
    	<tr>
        	<td colspan="4" class="rounded-foot-left" />
        	<td class="rounded-foot-right" />
        </tr>
    </tfoot>
	<tr>
		<td><label>Group : </label></td>
		<td colspan="4"><input id="cgroup" name="cgroup" type="text" value="${contact.cgroup?.name}"/></td>
	</tr>
	<tr>
		<td><label>Firstname : </label></td>
		<td colspan="4"><input id="firstName" name="firstName" type="text" value="${contact.firstName}"/></td>
	</tr>
	<tr>
		<td><label>Name : </label></td>
		<td colspan="4"><input id="name" name="name" type="text" value="${contact.name}"/></td>
	</tr>
		<tr>
			<td><label>Mail : </label></td>
			<td colspan="4"><input id="mail" name="mail" type="mail" value="${contact.mail}"/></td>
		</tr>
		<tr>
			<td><label>Phone : </label></td>
			<td colspan="4"><input id="phone" name="phone" type="tel" value="${contact.phone}"/></td>
		</tr>
			<tr>
						<td ><input type="submit" value="Update"/></td>
			#{/form}
			<td colspan="3" />			
			<td>
#{form @Application.index()}
				<input type="submit" value="Cancel"/></td>			
#{/form}
			
			
		</tr>
	</tr>
</table>
<div>
