#{extends 'connected-user.html' /} #{set title:'Home' /}

<div class="contacts">
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Name</th>
				<th>Mail</th>
				<th>Phone</th>
				<th class="th-add" />
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td/>
				<td id="paginate-td" colspan="3" >#{paginate.controls items:paginator /} </td>
				<td/>
			</tr>
		</tfoot>
		#{paginate.list items:paginator , as:'contact'}
		<tr>
			<td>${contact.firstName}</td>
			<td>${contact.name}</td>
			<td>${contact.mail}</td>
			<td>${contact.phone}</td>
			<td>#{secure.check 'admin'} <a href="@{Application.edit(contact.id)}">></a> #{/secure.check}</td>
		</tr>
		<tr>

		#{/paginate.list }
		 #{secure.check 'admin'} 
		 #{form @Application.addContact()}
			<td class="input"><input id="firstName" name="firstName" type="text" /></td>
			<td class="input"><input name="name" type="text" /></td>
			<td class="input"><input id="mail" name="mail" type="mail" /></td>
			<td class="input"><input id="phone" name="phone" type="tel" /></td>
			<td class="input"><input type="submit" value="+" /></td>
			 #{/form}
		 #{/secure.check}
		</tr>
	</table>

</div>
</div>